---

---

<div class="port-container">

</div>
<h2>List of Funny ports</h2>
<p class="fragment">Calculatrice</p>
<p class="fragment">Oscilloscope</p>
<p class="fragment">E Coli Cell</p>
<p class="fragment">Thermomix</p>  <!--https://old.reddit.com/r/itrunsdoom/comments/by5x1n/oc_made_a_thermomix_clone_run_doom_with_a_friend/-->
<p class="fragment">Test de grossesse</p>


<style lang="scss">
  .port-container {

  }
  video {
    border-radius: 16px;
  }
</style>
