---
import Slide from "../../components/Slide.astro";
---
<Slide>
    <h2>KIndle FrameBuffer</h2>
</Slide>


<Slide>
    <h2>Kindle FrameBuffer</h2>
    <p class="fragment">Stuff 1</p>
    <p class="fragment">Stuff 2</p>
    <p class="fragment">Stuff 3</p>
</Slide>
