---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Title.astro";
import WhyAstro from "../slides/WhyAstro.astro";
---

<Layout title="K4DOOM" >
	<main class="reveal">
		<div class="slides">
			<Title />
			<WhyAstro />
		</div>
	</main>
</Layout>
