---
import Slide from "../../components/Slide.astro";


// TODO DONT FORGET CREDITS
/*
Nirina & Julien
MobileReads
Amazdoom font probably
Dithering article
touchdoom
*/
---

<Slide>
  <div class="content">
    <div class="title">
      <h2>
        Un pixel, puis un autre
      </h2>
      <p>Comment porter DOOM sur Kindle</p>
    </div>
  </div>
</Slide>
